@import "../../scss/variables.scss";

.comment {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 10px;

  &__body {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 3px;
    color: #404040;
    background: #dddddd;
    border: 1px solid #dadada;
  }

  &__meta {
    color: #5d5d5d;
    display: flex;
    column-gap: 10px;
  }

  &__author {
    color: $color-highlight-4;
  }

  &__id {
    align-self: flex-end;
  }

  * {
    max-width: 100%;
    overflow: auto;
  }
}
