@import "../../scss/variables.scss";

.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;

  &__item {
    width: 20px;
    line-height: 20px;
    font-size: 14px;
    aspect-ratio: 1;
    background-color: $color-grey-dim;
    text-align: center;
    border-radius: 20%;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $color-grey-light;
    width: 100%;
  }
}
