@import "variables.scss";

@mixin article-format {
  height: auto;
  background: #353535;
  border: 1px solid $color-grey-6;
  border-radius: 4px;
  padding: 7px;
}

@mixin link-format {
  text-decoration: none;
  color: $color-highlight-4;
  transition-duration: 0.2s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}
