$breakingPointLarge: "990px";
$breakingPointMiddle: "760px";
$breakingPointNarrow: "700px";
$breakingPointSmall: "500px";

//colors
$color-highlight: #35ffd2;
$color-highlight-2: #b998ff;
$color-highlight-3: #ffbd14;
$color-highlight-4: #80b3dd;

$color-bright: #fff;
$color-grey-light: #d2d2d2;
$color-grey-pale: #9f9f9f;
$color-grey-borders: #888888;
$color-dim: #898989;
$color-grey-dim: #6a6a6a;
$color-grey-6: #555;
$color-grey-background: #454545;
$color-digny: #383838;
$color-middle-dark: #1f1f1f;
$color-dark: #151515;
$color-most-dark: #000;

$color-positive: #adeda2;
$color-negative: #fe8686;
